<%- include("../partials/header") %>
<%- include("../partials/title") %>
All Types
<%- include("../partials/body") %>
<div class="container">
    <div class="card">
        <div class="row">
            <% for(var c=0;c<type.length;c++){ %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header"><%= type[c].name %></div>
                        <div class="card-body">
                          <h5 class="card-title"><%= type[c].price %></h5>
                          <p class="card-text"><%= type[c].description %></p>
                        </div>
                      </div>
                </div>
            <% } %>            
        </div>
    </div>
</div>
<%- include("../partials/footer") %>