<%- include("../partials/header") %>
<%- include("../partials/title") %>
New Product
<%- include("../partials/body") %>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <div class="card-header d-flex justify-content-center"><h1>NEW PRODUCT</h1></div>
                <div class="card-body">
                    <form action="/type/<%= type._id %>/product" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                              <input type="file" multiple accept="image/*" name="image" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose 3 Files</label>
                            </div>
                        </div>           
                        <div class="form-group">
                            <label for="nameofproduct">Image 1</label>
                            <input type="text" name="product[imageOne]" id="nameofproduct" class="form-control">
                            <small id="nameofproductHelpLine" class="text-muted">
                                Input the link of image 1.
                            </small>
                        </div> 
                        <div class="form-group">
                            <label for="nameofproduct">Image 2</label>
                            <input type="text" name="product[imageTwo]" id="nameofproduct" class="form-control">
                            <small id="nameofproductHelpLine" class="text-muted">
                                Input the link of image 2.
                            </small>
                        </div>  
                        <div class="form-group">
                            <label for="nameofproduct">Image 3</label>
                            <input type="text" name="product[imageThree]" id="nameofproduct" class="form-control">
                            <small id="nameofproductHelpLine" class="text-muted">
                                Input the link of image 3.
                            </small>
                        </div>          
                        <div class="form-group">
                            <label for="nameofproduct">Name Of Product</label>
                            <input type="text" name="product[name]" id="nameofproduct" class="form-control">
                            <small id="nameofproductHelpLine" class="text-muted">
                                Input the name of the product
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="nameofproduct">Description of product</label>
                            <textarea name="product[description]" id="nameofproduct" rows="10" class="form-control"></textarea>
                            <small id="nameofproductHelpLine" class="text-muted">
                                Describe product here
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="nameofproduct">Price Of Product</label>
                            <input type="text" name="product[price]" id="nameofproduct" class="form-control">
                            <small id="nameofproductHelpLine" class="text-muted">
                                Input the price of the product
                            </small>
                        </div>
                        <div class="card-footer d-flex justify-content-center">
                            <button type="submit" class="btn btn-lg btn-success">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<%- include("../partials/footer") %>